<div class="container">
    <div class="image-container">
        <img src="../../assets/images/user.png"
             alt="user">
    </div>
    <div class="info-user">
        <h2>Imie: {{getUser.name}}</h2>
        <h2>Nazwisko: {{getUser.surname}}</h2>
        <h2>Płeć: {{getUser.gender}}</h2>
        <h2>Miasto: {{getUser.city}}</h2>
        <h2>Phone: {{getUser.phone}}</h2>
        <h2>Email: {{getUser.email}}</h2>
        <h2>age: {{getUser.age}}</h2>
        <h3>specjalizacja/ umiejętności: {{getUser.skills}}</h3>
    </div>
</div>
