.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container-register {
    width: 40%;
  }
  .form {
    display: flex;
    flex-direction: column;

    .mat-form-field {
      p {
        color: rgb(255, 0, 0);
        padding-top: 4px;
      }
    }

    .example-section {
      padding-bottom: 15px;

      .example-margin {
        margin-right: 4px;
      }
    }
  }
}
