<div class="container">
    <div class="container-register">
        <mat-toolbar>
            <span>Rejestracja</span>
        </mat-toolbar>
        <mat-card class="card">
            <mat-card-content>
                <form class="form"
                      [formGroup]="registerForm"
                      (ngSubmit)="onSubmit()">
                    <section class="example-section">
                        <label class="example-margin">Kim jesteś:</label>
                        <mat-radio-group [(ngModel)]="typeUser"
                                         [ngModelOptions]="{standalone: true}">
                            <mat-radio-button class="example-margin"
                                              value="dietetican">Dietetyk</mat-radio-button>
                            <mat-radio-button class="example-margin"
                                              value="usser">Klient</mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <ng-container *ngIf="typeUser === 'usser'">
                        <mat-form-field class="full-width">
                            <mat-label>Imie</mat-label>
                            <input matInput
                                   placeholder="First name"
                                   formControlName="fname"
                                   required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>nazwisko</mat-label>
                            <input matInput
                                   placeholder="Last Name"
                                   formControlName="lname"
                                   required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Address</mat-label>
                            <input matInput
                                   placeholder="Address"
                                   formControlName="address"
                                   required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput
                                   placeholder="Email"
                                   formControlName="email">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input matInput
                                   placeholder="Password"
                                   formControlName="password">
                        </mat-form-field>
                        <section class="example-section">
                            <label class="example-margin">Gender:</label>
                            <mat-radio-group [(ngModel)]="gender"
                                             [ngModelOptions]="{standalone: true}">
                                <mat-radio-button class="example-margin"
                                                  value="after">Męzczyzna</mat-radio-button>
                                <mat-radio-button class="example-margin"
                                                  value="before">Kobieta</mat-radio-button>
                            </mat-radio-group>
                        </section>

                    </ng-container>

                    <ng-container *ngIf="typeUser === 'dietetican'">
                        <mat-form-field class="full-width">
                            <mat-label>Imie</mat-label>
                            <input matInput
                                   placeholder="First name"
                                   formControlName="dietFName"
                                   required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>nazwisko</mat-label>
                            <input matInput
                                   placeholder="Last Name"
                                   formControlName="dietLName"
                                   required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Address</mat-label>
                            <input matInput
                                   placeholder="Address"
                                   formControlName="dietAddress"
                                   required>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput
                                   placeholder="Email"
                                   formControlName="dietEmail">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input matInput
                                   placeholder="Password"
                                   formControlName="dietPassword">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Specjalizacja/Umiejętności</mat-label>
                            <textarea matInput
                                      placeholder="skills"
                                      formControlName="skills"></textarea>
                        </mat-form-field>

                    </ng-container>

                    <div class="btn">
                        <button class="btn-register"
                                color="primary"
                                mat-raised-button
                                (click)="submit()">Zarejestruj</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<h1>lolo</h1>
